
/* Base code for mobile users */
html {
    height:100%;
    width:100%;
    min-height:100%;
    max-width:100%;
    overflow:auto;
    padding:0;
    margin:0;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Helvetica", Sans-Serif;
    font-size: 14px;
}

a, strong {
    color: #f60;
}

a.secret {
    color: currentColor;
    text-decoration: none;
    cursor: text;
}

h1 {
    text-align: center;
    background-color: #f60;
    color: white;
    margin: 0;
    padding: 1em 0 1em 3em;
    font-family: "Arial Black", Sans-Serif;
    position: relative;
    user-select: none;
}

h1:before {
    display: inline-block;
    position: absolute;
    top: 0.5em;
    left: 1em;
    cursor: crosshair;
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" viewBox="0 0 264.583 264.583"><path d="M162.682 241.037 258.8 144.92l-56.54-56.54H62.325l-56.54 56.54 96.117 96.117Z" style="fill:%23000;stroke:none;" transform="translate(0 -32.417)"/><path d="M62.325 88.38h139.933L162.65 241.036h-60.654z" style="fill:%23fff;stroke:none;" transform="translate(0 -32.417)"/><path d="m51.847 151.004 51.724 17.068 7.943-2.385-11.197 16.163zm160.889 0-51.723 17.068-7.943-2.385 11.196 16.163z" style="fill:%23f60;stroke:none;" transform="translate(0 -32.417)"/></svg>');
}

.comic-title {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="532.684" height="138.251" viewBox="0 0 140.939 36.579"><path d="M292.223 8.863v82.99H402.64V67.4h-90.823v-1.62l-10.755-2.046v-.851h58.355l.756-1.873 6.984-.768c.366-.796.847-1.278 1.442-1.447a7.87 7.87 0 0 1 2.05-.258 12.3 12.3 0 0 0 2.397-.424c.824-.229 1.578-.77 2.264-1.62l5.273-8.946-10.273.514 1.3-2.813 19.518-2.64 3.287-4.09h-82.598v-2.39l-10.752-2.04v-.856h102.73v-2.13h-54.175V29.4h36.027l-.136-.853a3 3 0 0 0-.139-.938 8.809 8.809 0 0 0-.957-2.298 16.269 16.269 0 0 0-1.164-1.873 27.857 27.857 0 0 1-1.096-1.793 4.833 4.833 0 0 1-.549-1.87c.456-.57 1.095-1.394 1.916-2.472a56.985 56.985 0 0 0 2.194-3.069c.867-.453 2.008-.879 3.424-1.277a78.703 78.703 0 0 1 4.45-1.277c1.598-.456 3.173-.912 4.725-1.366 1.598-.453 3.014-.935 4.248-1.447l-110.341-.004zM9.96 8.867c-.227.624-.48 1.334-.756 2.131-.272.794-.408 1.334-.408 1.617V29.57a1.7 1.7 0 0 1-.205.598 15.27 15.27 0 0 0-.412.937l-.412.85a1.7 1.7 0 0 0-.204.598L8.797 91.85c.227.453.41.824.547 1.107l.34.854c.094.113.163.228.209.341l.134.34 7.057 7.07.549 13.463-2.604 10.993 5.276 4.851V62.883h15.888c2.831 2.498 5.913 5.224 9.246 8.18l9.864 8.775c3.65 3.235 7.559 6.674 11.713 10.307l12.326 1.705-6.506-9.543 27.398 23.005c1.369-.566 2.872-.853 4.52-.853 1.776 0 3.583.34 5.408 1.02 1.78.684 3.629 1.594 5.549 2.728a70.35 70.35 0 0 1 5.82 4.178 263.546 263.546 0 0 1 6.03 5.025l2.671-1.107-8.425-7.582a969.741 969.741 0 0 1-9.108-8.182 1679.096 1679.096 0 0 1-9.248-8.18 3788.74 3788.74 0 0 1-8.902-7.834c-3.288-2.955-6.552-5.88-9.795-8.775-3.288-2.899-6.6-5.822-9.934-8.777l-21.64-3.069-.069-1.021H93.25l17.736-22.069V8.867H9.961zm107.803 0V70.04l.242 21.791 3.39.02V76.09a6.69 6.69 0 0 1 .887-.682 30.055 30.055 0 0 0 1.033-.765.85.85 0 0 1 .34-.258.813.813 0 0 0 .203-.17.813.813 0 0 1 .205-.17l-.408-.17-.277-.17-.272-.174a7.597 7.597 0 0 1-.619-.342c-.136-.17-.249-.251-.34-.251-.32 0-.503.025-.548.082 0-.34.023-.536.068-.596l1.236-1.022a.85.85 0 0 1 .34-.256l.412-.341v-2.297h66.297v-1.621l-21.023-.598c-.37-.737-.87-1.191-1.512-1.361a10.17 10.17 0 0 0-2.05-.34 12.389 12.389 0 0 1-2.329-.428c-.779-.227-1.51-.767-2.193-1.617l-5.276-8.863 10.276.427-1.303-2.812-19.518-2.725a135.856 135.856 0 0 0-2.468-3.238c-.503-.68-.82-1.078-.955-1.191-.14-.114-.163-.057-.073.17.095.226.162.454.207.681.046.17.023.252-.068.252-.09-.053-.411-.396-.959-1.02h-17.053V33.233h64.725l6.367 7.84V91.85l19.522 15.761V30.936L196.53 8.867h-78.766zm101.177 0 14.93 24.365h44.93v.856a86.876 86.876 0 0 1-6.164 1.02c-1.598.284-3.083.54-4.453.767-1.371.227-2.191.37-2.463.428v43.619c.226.113.705.313 1.435.598.731.284 1.484.568 2.26.853.459.169.917.367 1.373.594.501.171 1.003.37 1.504.597l2.672 10.14.48 6.901 6.301 2.381.756 13.04-1.916 11.501 4.723 4.516V40.814c0-9.995.023-20.644.068-31.947h-66.436zm194.979 0a50.711 50.711 0 0 1-1.85 2.64c-.594.797-.915 1.196-.963 1.196v2.895l4.043-5.368c.23.625.344 1.138.344 1.536 0 .34.07.622.205.85-.274.453-.548.852-.82 1.195-.275.282-.594.594-.96.937-.591.625-1.14 1.25-1.644 1.875a9.808 9.808 0 0 0-1.168 2.127 5.025 5.025 0 0 0-.34 1.875c0 .34.046.909.14 1.705.135.738.204 1.646.204 2.725l8.287-10.909.206 2.987c-.87.907-1.531 1.672-1.985 2.297-.458.625-.962.937-1.512.937-.317 0-.543-.026-.68-.082-.045.169-.068.425-.068.768 0 .227.023.453.069.68.045.17.066.314.066.427a.917.917 0 0 1-.207.596c-.23.282-.457.595-.683.937l-.688.852-.682.85-.068.087-1.027 1.278c-.55.683-.892 1.193-1.028 1.533-.229.852-.343 1.59-.343 2.215 0 .34.045.879.138 1.617.136.737.205 1.616.205 2.637l1.364-1.87 1.437-1.787.276-.34.136-.173.822-1.022.137 2.643c-.23.285-.458.54-.687.767a9.118 9.118 0 0 0-.68.768 28.857 28.857 0 0 0-1.645 1.871 9.685 9.685 0 0 0-1.167 2.131c-.227.852-.34 1.59-.34 2.215 0 .34.044.907.134 1.701.139.74.21 1.622.21 2.645.453-.739.931-1.422 1.435-2.05l1.373-1.699.615-.767c.227-.227.432-.483.615-.768l.137 2.643c-.23.34-.457.653-.683.937-.23.227-.457.481-.684.766a61.004 61.004 0 0 0-1.576 1.875c-.502.567-.914 1.249-1.236 2.045a7.245 7.245 0 0 0-.34 2.129c0 .398.044.995.134 1.79.136.74.206 1.617.206 2.638l4.042-5.366.137 2.645-.683 1.021-.684.85a61.005 61.005 0 0 0-1.576 1.875c-.502.625-.913 1.363-1.233 2.215-.181.453-.273 1.079-.273 1.875 0 .34.046.907.137 1.701.09.74.136 1.622.136 2.645l4.04-5.284.14 2.641c-.41.625-.867 1.192-1.371 1.701l-1.576 1.967c-.23.282-.459.621-.686 1.02-.181.34-.363.709-.547 1.107-.181.453-.273 1.079-.273 1.875 0 .34.046.907.137 1.701.09.796.136 1.732.136 2.81l4.043-5.367.137 2.73a10.96 10.96 0 0 1-1.371 1.7l-1.572 1.963a12.215 12.215 0 0 0-1.237 2.127 5.036 5.036 0 0 0-.34 1.879c0 .34.045.907.135 1.701.136.738.205 1.648.205 2.729l4.043-5.288.137 2.985c-.23.285-.458.54-.687.767a9.118 9.118 0 0 0-.68.768 29.587 29.587 0 0 0-1.645 1.875 9.713 9.713 0 0 0-1.168 2.127 5.025 5.025 0 0 0-.34 1.875c0 .34.045.909.135 1.705.139.738.21 1.646.21 2.725l1.435-1.787c.456-.625.914-1.222 1.373-1.792v3.579h110.406v-1.705l-21.097-.68c-.366-.738-.867-1.194-1.504-1.365a11.77 11.77 0 0 0-2.123-.34 16.176 16.176 0 0 1-2.262-.34c-.776-.227-1.506-.766-2.192-1.617l-5.205-8.864 10.205.514-1.3-2.982-19.588-2.559c-1.326-1.817-2.216-3.007-2.672-3.574-.456-.625-.707-.938-.752-.938-.045 0-.068.027-.068.082 0 .058.044.201.134.428.136.227.205.37.205.428 0 .055-.023.082-.068.082-.09 0-.204-.057-.34-.17-.138-.113-.367-.396-.687-.85h-53.149v-.771l11.71-1.701V8.868H413.92zm-2.809 25.895-.004.006h.004v-.006zM71.063 12.635h1.794v6.44c0 3.674-1.643 7.074-4.927 10.202l-1.502-1.355c1.385-1.125 2.503-2.41 3.355-3.854.852-1.443 1.28-3.463 1.28-6.058v-5.375zm4.73 0h1.805V26.82c.741-.247 1.6-.871 2.576-1.873.975-1.008 1.756-2.037 2.342-3.084l1.375 1.502c-2.374 3.356-5.074 5.314-8.098 5.873V12.635zm-47.324.799h13.14v1.796H28.47v-1.796zm20.135.156h12.751v1.805H48.604V13.59zm34.093 1.158h4.18v3.574h-4.18v-3.574zm7.809 0h2.808v3.574h-2.808v-3.574zm4.451 0h1.988v3.574h-1.988v-3.574zm-67.65 2.522h15.365v1.677c0 .24-.295.855-.887 1.844-.585.982-1.144 1.8-1.678 2.457a18.421 18.421 0 0 1-1.765 1.883 20.67 20.67 0 0 1-2.088 1.68 22.42 22.42 0 0 1-2.41 1.472c-.859.449-1.767.861-2.723 1.238l-1.092-1.716c5.21-1.724 8.746-4.633 10.606-8.73H27.307V17.27zm-7.006.119h1.988c-.272.226-.318.652-.137 1.279.136.624.205 1.164.205 1.617v6.305c0 .227-.069.622-.205 1.193-.136.51 0 .793.412.85v7.582h2.465v-.768c0-.17-.226-.252-.683-.252v-1.963H91.33v5.286H20.3v-21.13zm26.373 1.119h16.681v1.805h-7.093c.013.156.021.423.021.8 0 3.974-1.747 6.802-5.24 8.487L49.629 28c1.587-.56 2.787-1.409 3.6-2.547.819-1.138 1.228-2.507 1.228-4.107 0-.469-.013-.812-.039-1.034h-7.744v-1.804zm57.324 2.967h1.236v1.45h-1.236v-1.45zM90.918 27.1h1.644v1.193h-1.644V27.1zm9.453 2.214h1.983v3.748h-1.983v-3.748z" style="fill:white;" transform="matrix(.26458 0 0 .26458 0 0)"/></svg>');
    background-repeat: no-repeat;
    background-position: 86% 71%; 
    background-size: 8em;
    min-height: 1.44em;
}

.container__vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    padding: 1em 15%;
}

.menu__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    text-transform: uppercase;
    width: 100%;
}

.menu__links a {
    flex-grow: 1;
    color: black;
    padding: 1em;
    display: flex;
    justify-content: center;
    background-color: white;
    text-decoration: none;
    user-select: none;
}
.menu__links a:hover{
    flex-grow: 1;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: center;
    background-color: #f60;
}

.align-top {
    justify-content: flex-start;
}

.row__product {
    width: 100%;
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    flex-wrap: wrap;
}

.row__bar {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container__featured {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("images/dbl-pg-splash-photo.jpg");
    background-size: cover;
    background-position: center;
}

button, input[type="submit"], input[type="reset"] {
	background-color: #f60;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    padding: 1em;
    border-radius: 1em;
    font-weight: 900;
}

.button:hover {
    background-color: #ffa700;
    transition: background-color 200ms ease-in-out;
}

.a3-thumbnail {
    display: block;
    margin: 0 1em 1em 0;
    padding: 1em;
    border: solid 1px #ccc;
}

footer {
    width: 100%;
    background-color: #f60;
    color: white;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    padding: 1em;
}

progress[value] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    margin-top: 1em;
    

    /* Get rid of default border in Firefox. */
    border: none;
}

progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, #2d3d9d, #f60);
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;


  }

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

    
    -webkit-animation: animate-stripes 15s linear infinite;
  }

progress[value]::-moz-progress-bar { 
    background-image:
        -moz-linear-gradient(
        135deg, 
        transparent 33%, 
        rgba(0, 0, 0, 0.1) 33%, 
        rgba(0, 0, 0, 0.1) 66%, 
        transparent 66% 
        ),
        -moz-linear-gradient(
        top, 
        rgba(255, 255, 255, 0.25), 
        rgba(0, 0, 0, 0.25)
        ),
        -moz-linear-gradient(
        left, 
        #2d3d9d, 
        #f60
    );

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%; 

    animation: animate-stripes 15s linear infinite;
}

progress[value]::-webkit-progress-value::before {
    content: '80%';
    position: absolute;
    right: 0;
    top: -125%;
}

progress[value]::-webkit-progress-value::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    right: 7px;
    top: 7px;
    background-color: white;
}

progress[value]  {
    /* Reset the default appearance */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  
    /* Get rid of default border in Firefox. */
    border: none;
  
    /* Dimensions 
    width: 250px;
    height: 20px;*/
  
    /* For IE10 */
    color: blue; 
  }

.embeded-image {
    flex-grow: 0; 
    align-self: center;
}  

@-webkit-keyframes animate-stripes {
    100% { background-position: -100% 0px; }
 }
 
 @keyframes animate-stripes {
    100% { background-position: -100% 0px; }
 }

/* Increase font size for tablets */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
    .comic-title {
        background-position: 50% 71%; 
    }

    h1 {
        padding: 1em;
    }

    .menu__links {
        flex-direction: row;
    }
    
}

/* Larger font size for desktop screens */
@media (min-width: 1024px) {
body {
    font-size: 18px;
}
}